body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #00215E;
    padding: 8px;
}

.nav ul {
    list-style-type: none;
    text-align: right;
}

.nav li {
    display: inline-block;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #555;
    border-radius: 2rem;
}

div {
    padding-left: 2rem;
}